{% extends 'base_page_2.html' %}
{% load static %}
{% block title %}
	Интернет магазин TobaccoEmporio: Главная страница
{% endblock %}


{% block content %}
	<div class="container">
		<div class="block">
			<img src="{% static 'posts/test.png' %}" alt="banner">
		</div>
	</div>

	<div class="container">
		<div class="is-flex is-justify-content-space-between is-align-content-center m-6">
			<div class="is-flex">
				<div class="mr-2">
					<i class="fa-solid fa-truck fa-2xl" style="color: #ff623e;"></i>
				</div>
				<div class="is-size-6 has-text-weight-semibold">
					Доставка за 24 часа
				</div>
			</div>
			<div class="is-flex">
				<div class="mr-2">
					<i class="fa-solid fa-list-check fa-2xl" style="color: #ff623e;"></i>
				</div>
				<div class="is-size-6 has-text-weight-semibold">
					Огромный выбор
				</div>
			</div>
			<div class="is-flex">
				<div class="mr-2">
					<i class="fa-solid fa-certificate fa-2xl" style="color: #ff623e;"></i>
				</div>
				<div class="is-size-6 has-text-weight-semibold">
					Гарантия качества
				</div>
			</div>
			<div class="is-flex">
				<div class="mr-2">
					<i class="fa-solid fa-percent fa-2xl" style="color: #ff623e;"></i>
				</div>
				<div class="is-size-6 has-text-weight-semibold">
					Бонусная программа
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="is-flex is-justify-content-space-around hover-image-scale">
			<div class="pr-2 pb-3">
				<img src="{% static 'posts/test.png' %}" alt="Lo2o">
			</div>
			<div class="pr-2 pl-2 pb-3">
				<img src="{% static 'posts/test.png' %}" alt="Logo">
			</div>
			<div class="pl-2 pb-3">
				<img src="{% static 'posts/test.png' %}" alt="Logo">
			</div>
		</div>
		<div class="is-flex is-justify-content-space-around hover-image-scale">
			<div class="pr-2">
				<img src="{% static 'posts/test.png' %}" alt="Logo">
			</div>
			<div class="pr-2 pl-2">
				<img src="{% static 'posts/test.png' %}" alt="Logo">
			</div>
			<div class="pl-2">
				<img src="{% static 'posts/test.png' %}" alt="Logo">
			</div>
		</div>
	</div>

	<div class="has-background-link-light pt-6 pb-4">
		<div class="container">
			<div class="block">
				<div class="pb-2 has-text-dark is-size-5 has-text-weight-medium">
					Специальное предложение
				</div>
			</div>
			<div class="is-flex is-justify-content-space-around">
				<div class="pr-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pr-2 pl-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pr-2 pl-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pl-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
			</div>
			<div class="is-flex is-justify-content-space-around mt-4">
				<div class="pr-2">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pr-2 pl-2">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pr-2 pl-2">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pl-2">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="block">
			<div class="pt-6 pb-2 has-text-dark is-size-5 has-text-weight-medium">
				Наши партнеры
			</div>
			<div class="is-flex is-justify-content-space-around">
				<div class="p-6">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="p-6">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="p-6">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="p-6">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
			</div>
		</div>
	</div>

	<div class="has-background-link-light pt-6 pb-6">
		<div class="container">
			<div class="block">
				<div class="pb-2 has-text-dark is-size-5 has-text-weight-medium">
					Статьи
				</div>
			</div>
			<div class="is-flex is-justify-content-space-around">
				<div class="pr-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pr-2 pl-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pr-2 pl-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
			</div>
			<div class="block">
				<div class="pb-4 pt-6 has-text-dark is-size-5 has-text-weight-medium">
					Отзывы
				</div>
			</div>
			<div class="is-flex is-justify-content-space-around">
				<div class="pr-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pr-2 pl-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
				<div class="pr-2 pl-2 pb-1">
					<img src="{% static 'posts/test.png' %}" alt="Logo">
				</div>
			</div>
		</div>
	</div>
{% endblock %}