{% extends 'base_catalog_page.html' %}

{% block title %}
	Интернет магазин Smoke Element: Кальян BOX - NanoSmoke
{% endblock title %}

{% block leftside %}
	<div>
	<br><br>
	</div>
	<div class="px-5 mt-6 has-text-dark is-size-5 has-text-weight-medium has-text-left">
	Кальян BOX
	</div>

	<div class="mt-6">
		<figure class="image">
			<img src="{% static 'posts/images/screen.png' %}" alt="BOX NanoSmoke"/>
		</figure>
	</div>

{% endblock leftside %}

{% block rightside %}
	<div class="mt-4">

	<nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
		<ul>
			<li><a href="#">Главная</a></li>
			<li><a href="#">Каталог</a></li>
			<li><a href="#">Кальяны</a></li>
			<li><a href="#">Nano Smoke</a></li>
			<li class="is-active"><a href="#" aria-current="page">Кальян BOX</a></li>
		</ul>
	</nav>

	</div>
	<div class="box mx-3 px-5 mt-6">
		<div class="pb-2 has-text-dark is-size-5 has-text-weight-medium">
			Описание кальяна
		</div>
		<div>
			Компактный кальян для дома и путешествий оборудован шахтой, диффузором, радиатором охлаждения и блюдцем из нержавеющей стали. Благодаря парусному натяжению силиконового браслета шахта крепится к колбе без магнитов - на силиконовый браслет.
		</div>
	</div>

{% endblock rightside %}